
<div class ="container text-center" text>
    <h1>About Page </h1>
    <p> We are DevMatch . Our Company focuses on creating exclusive community
    for developers and entrepreuners to meet.

    </p>
</div>